
 
.card{
    min-width: 350px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

button{
    width: 90%;
    padding-block:0.7rem ;
    font-weight: 700;
    font-size: 1.1rem;
    display: block;
    margin-inline: auto;
    background-color: rgb(89, 4, 173);
    border: none;
    border-radius: 40px;
    color: #fff;

}
button:hover{
    transform: scale(0.98);
}
 
.content h3{
    margin-bottom: 0.7rem;
}
