
.profileCard{
    display: flex;
    gap: 1rem;
    align-items: center;
    text-align: left;
}

.profileCard img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

 